<p>

    <select class="form-select form-select-sm mt-3" @bind="Culture">
        @foreach (var culture in SupportLanguage.Get)
        {
            <option value="@culture">@GsoRep[culture.ToUpper().Replace("-", "_")]</option>
        }
    </select>
</p>
