@inject ILogger<DivScroll> _logger
<div @ref="div" class="@(IsSticky == true?"table-scroll-v":"")  table-responsive @SetClass" style="@(IsMaxHeigth? "max-height": "height"): @MaxHeigth">
    @ChildContent
</div>
